@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

root{
    --font-p: 'Sriracha', cursive;
    --font-header: 'Passion One', cursive;
    --font-p02: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
}

html, body{
    min-height: 100vh;
}

header{
    padding-top: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
}

header h1{
    font-size: 10vw;
    font-family: 'Passion One', cursive;
}

#pheader{
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

p a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: tomato;
    text-decoration: underline;
}

section{
    display: block;
    padding-top: 5vh;
    line-height: 1.5em;
    font-family: 'Sriracha', cursive;
    font-size: 3vw;
}


section.text{
    padding-top: 8vh;
    padding-bottom: 5vh;
    padding-left: 30px;
}

section.image{
    
    
    color: white;    
}

section.image p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.356);
}

#image01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 10vh;
    padding-top: 8vh;
    padding-bottom: 8vh;
}

#image02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 10vh;
    padding-top: 8vh;
    padding-bottom: 8vh;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7.5px
}